<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->
    <context:component-scan base-package="ua.univ"/>

    <!--    <bean id="musicBean"-->
    <!--          class="ua.univ.RockMusic">-->
    <!--    </bean>-->

    <!--    <bean id="musicBean2"-->
    <!--          class="ua.univ.ClassicalMusic"-->
    <!--          init-method="doMyInit"-->
    <!--          destroy-method="doMyDestroy"-->
    <!--          factory-method="getInstance">-->
    <!--    </bean>-->

    <!--    <bean id="musicBean3"-->
    <!--          class="ua.univ.MondayMusic">-->
    <!--    </bean>-->

    <!--    <bean id="musicPlayer"-->
    <!--          class="ua.univ.MusicPlayer"-->
    <!--          scope="prototype"-->
    <!--          destroy-method="testDestroy">-->
    <!--        <property name="musicList">-->
    <!--            <list>-->
    <!--                <ref bean="musicBean"/>-->
    <!--                <ref bean="musicBean2"/>-->
    <!--                <ref bean="musicBean3"/>-->
    <!--            </list>-->
    <!--        </property>-->

    <!--        <property name="name" value="${musicPlayer.name}"/>-->
    <!--        <property name="price" value="${musicPlayer.price}"/>-->
    <!--    </bean>-->

</beans>